{
  "root": true,
  "extends": "@antfu",
  "rules": {
    "max-len": ["error", { "code": 160, "ignoreRegExpLiterals": true, "ignoreUrls": true }],
    "semi": ["error", "always"],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/no-var-requires": "off",
    "quote-props": ["error", "as-needed"]
  }
}
